body {
  @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
header {
  display: flex;
  justify-content: center;
  background-color: #02a28f;
  width:100%;
}
.container_header {
  display: flex;
  justify-content: start;
  width: 90%;
  padding: 0 0 0 50px;
  margin-left: 2.5rem;
}
#title {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin: 30px 0;
  justify-content: center;
  align-items: center;

}
#section-container-inicial {
  grid-column: 1;
  
  width: 90%;
  justify-content: center;
}
#container-inicial {
  display: flex;
  flex-direction: row;
}
#container-inicial-img img{
  width: 100%;
}
#container-postsPopulares {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
#container-postsPopulares img {
  width: 100%;
}

#container-postsPopulares h1 {
  background-color: #02a28f;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin: 10px 0 0 0;
}
.post {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 10px #616161;
}
.post img {
  width: 100%;
}
.post-news {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post h2 {
  font-size: 12px;
  margin: 0;
}
.post p {
  font-size: 10px;
  margin: 0;
  font-weight: 500;
  color: #616161;
}

#section-container-postsrecentes {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
  gap: 20px;
  box-sizing: border-box;
}
#container-posts-recentes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 18px;
}
#container-title-postsrecentes h3 {
  background-color: #02a28f;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin: 0;
}
#container-postsrecentes-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  width: 750px;
}
.cards {
  box-shadow: 0px 2px 10px #616161;
  border-radius: 10px;
}
.cards img {
  width: 100%;
}
.container-description-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
.container-description-cards h1 {
  font-size: 14px;
  color: #02a28f;
  font-weight: 400;
  margin: 0;
}
.container-description-cards h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.container-description-cards h3 {
  font-size: 13px;
  color: #616161;
  font-weight: 700;
  margin: 0;
}
.container-description-cards h4 {
  font-size: 14px;
  color: #616161;
  font-weight: 500;
  margin: 0;
}
strong {
  color: black;
}
.container-description-cards p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
#container-categoria {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#container-posts-categorias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#posts-title-categoria h3 {
  background-color: #02a28f;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin: 0;
}
.posts-categorias {
  display: flex;
  justify-content: space-between;
}
.posts-categorias h5 {
  color: #616161;
  margin: 0;
}
.posts-categorias p {
  color: #616161;
  margin: 0;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #02a28f;
  width: 100%;
}
#container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 3rem;
  padding: 0 0 0 50px;
  margin-left: 40px;
}
#container-footer p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
